/* importing Poppins (sans-serif) font from googlr fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Color schemes */
:root {
  --mainBackgroundColor: #e9f0ff;
  --headerColor: #101921;
  --headerTextColor: #d6d4f9;
  --textColor: #020025;
  --spanColor: #de60f8;
  --divBackgroundColor: #93baf13e;
  --buttonColor: #3d487f;
  --buttonActiveColor: #9d331e;
  --blurCircle-1: #b6b5ff;
  --blurCircle-2: #fea5ff;
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

/* Body styles */
body {
  background-color: var(--mainBackgroundColor);
  color: var(--textColor);
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: var(--headerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/* Exercise-zone stylling */
h1 {
  font-size: 3rem;
  color: var(--headerTextColor);
  font-weight: 800;
  text-align: center;
margin-left:51rem ;
}
span {
  font-size: 3.5rem;
  color: var(--spanColor);
}

header a {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--headerTextColor);
  text-decoration: none;
transition: 0.4s ease;

}
header a:hover{
    transform: scale(1.2);
  color: var(--spanColor);
}


section {
  max-height: 100vh;
  padding: 10rem 9% 2rem;
}

.blurCircle-1 {
  position: absolute;
  top: -8rem;
  left: -8rem;
  width: 45rem;
  height: 45rem;
  background-color: var(--blurCircle-1);
  border-radius: 50%;
  filter: blur(5rem);
  z-index: -1;
}
.blurCircle-2 {
  position: absolute;
  bottom: 5rem;
  right: -2rem;
  width: 50rem;
  height: 50rem;
  background-color: var(--blurCircle-2);
  border-radius: 50%;
  filter: blur(8rem);
  z-index: -1;
}

/* Container styles */
.container {
  width: 65%;
  height: 80vh; /* Set a fixed height */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2px auto;
  background-color: var(--divBackgroundColor);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}
.container h2 {
  color: var(--textColor);
  font-weight: 600;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
#intial-icon img {
  width: auto;
  height: 45rem;
}
/* Center the elements */
.categories {
  text-align: center;
}

/* catagories button style */
.categories button {
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 4rem;
  background-color: var(--buttonColor);
  color: var(--headerTextColor);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.categories button:hover {
  transform: scale(1.2);
}
.active {
  display: none;
}
#active {
  background-color: transparent;
  color: var(--textColor);
  border: 0.2rem solid;
  border-color: var(--buttonActiveColor);
}
/* intial logo style */
.initial-hidden {
  display: none;
}

/* Exercise container styles */
.exercises {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Exercise card styles */
.exercise-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #ffffff3a;
  padding: 20px;
}

.exercise-card img {
  width: 60%;
  height: auto;
}

.exercise-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.exercise-card p {
  margin-top: 5px;
  font-size: 14px;
}
